/************************************* Color One HEX Code: #DF7193; ***************************************/

/********************** Home One **************************/
.logo-img a{background: #DF7193;}
nav .drop-menu li a:hover{color: #DF7193;}
.single-feature i{color: #DF7193;}
.single-feature a:hover{background: #DF7193; border-color: #b95e7a;}
.gallery-hover ul li:first-child a{background: #DF7193;}
.gallery-hover ul li:last-child a:hover{color: #DF7193;}
.counting h2{color: #DF7193;}
.testinonialTriangle{background: #DF7193;}
.service-content i{background: #DF7193;}
.post-content ul li a, .post-content.pull-right ul li a:hover{background: #DF7193; border-color: #b95e7a;}
.post-content h4 a:hover{color: #DF7193;}
.contact-address .common-title{color: #DF7193;}
.custom-button{background: #DF7193;}
p.copy a:hover{color: #DF7193;}
.footerlogo{background: #DF7193;}

/********************* 404 Page ********************************/
.inner-logo a{background: #DF7193;}
.inner-nav ul li a:hover, .inner-nav ul li.active > a{color: #DF7193;}
.bread-cumbs ul li a{color: #DF7193;}
.error-404 h1{color: #DF7193;}
.subscribeForm button{background: #DF7193;}

/********************* About us ******************************/
.inner-heading h3 a:hover{color: #DF7193;}
.features-list li::before{color: #DF7193;}
.about-us .panel-title a{background: #DF7193;}
.my-accordion .panel-title a.collapsed:hover{background: #DF7193;}
.project-counter.about-us .project-count-tringle{background: #DF7193;}
.about-us .project-count.two h2{color: #DF7193;}
.single-member h4 a:hover{color: #DF7193;}
.single-member span{color: #DF7193;}
.features-list.about-us li::before{color: #DF7193;}

/******************** Blog Grid ********************************/
.grid-ariticle h4 a:hover{color: #DF7193;}
.grid-ariticle ul li i{color: #DF7193;}
.grid-ariticle ul li a:hover{color: #DF7193;}
.month_like a:hover{color: #DF7193;}
.month_like a:hover{color: #DF7193;}
.month_like a:hover i{color: #DF7193;}
.custom-button.grid_btn:hover{background: #DF7193;}

/****************** Blog Post ***********************************/
.blog-post-content p.blog-author a{color: #DF7193;}
.blog-post-content ul.blog-category li i{color: #DF7193;}
.blog-post-content ul.blog-category li a:hover{color: #DF7193;}
.blog-post-content ul.blog-category li.post-cat a{color: #DF7193;}
blockquote{border-color: #DF7193;}
.author-bio span{color: #DF7193;}
.comment-meta a{color: #DF7193;}
.comment-form input[type="text"]:focus, .comment-form textarea:focus{border-color: #DF7193;}
a.tags:hover{background: #DF7193;}
.widget-form button{background: #DF7193;}
.widget-form input:focus{border-color: #DF7193;}
.widget ul li a::after{color: #DF7193;}
.widget ul li a:hover{color: #DF7193;}
.side-post a{color: #DF7193;}
.side-post a.side-post-title:hover{color: #DF7193;}
.calendarButton a{background: #DF7193;}

/********************** blog Sidebar *********************************/
.blog-post-content h2 a:hover{color: #DF7193;}
.blog-post-content ul.blog-category li.categorys a{color: #DF7193;}
.default-pagination li a:hover, .default-pagination li a.active{background: #DF7193;}
.default-pagination.blog-pagi li a:hover{background: #DF7193;}

/********************** Contact page *********************************/
.redTriangle{background: #DF7193;}
.inputP input:focus{border-color: #DF7193;}
.contactFormHolder textarea:focus{border-color: #DF7193;}
.sb_button{background: #DF7193;}

/********************** Events page *********************************/
.eventDet h4 a:hover{color: #DF7193;}
.evMeta p i{color: #DF7193;}

/*********************** Folio *****************************************/
.mixi-button li.active, .mixi-button li:hover{background: #DF7193;}
.mixi-button.flio2 li:hover{background: #DF7193;}
.default-pagination.folio2 li a:hover{background: #DF7193;}
.category a{color: #DF7193;}
.folio4-post-content a{color: #DF7193;}


/*********************** Home 3 *****************************************/
.custom-button.home3{background: #DF7193;}
.project-count-tringle{background: #DF7193;}
.project-count.two h2{color: #DF7193;}
.my-accordion .panel-title a{background: #DF7193;}
.features-list li::before{color: #DF7193;}
.features-list.home3 li::before{color: #DF7193;}
.mixi-button.green li.active, .mixi-button.green li:hover{background: #DF7193;}
.gallery-hover.home3 ul li:first-child a{background: #DF7193;}
.gallery-hover.home3 ul li:last-child a:hover{color: #DF7193;}
.default-pagination.green li a:hover, .default-pagination.green li a.active{background: #DF7193;}
.contact-address.home3 .common-title{color: #DF7193;}
.blog-content.home3 .custom-button{background: #DF7193;}

/*************************** member Page *********************************/
.member-meta li i{color: #DF7193;}
.skill-rect2{background: #DF7193;}
.chart4 h4{color: #DF7193;}
.eventMeta p i{color: #DF7193;}
.eventMeta p a{color: #DF7193;}

/*************************** New **************************************/
.slider-caption h2::before{background: #DF7193;}
.switch::before{background: #DF7193;}

#backToTop::before{border-bottom-color: #DF7193;}
.inner-nav ul li a:hover, .inner-nav ul li:hover > a{color: #DF7193;}
.inner-nav ul li ul.drop-menu li a:hover{color: #DF7193;}
nav .drop-menu li a:hover{color: #DF7193;}

.our-service.home2 i{background: #DF7193;}
.skill-rect{background: #DF7193;}
.post-content.home2 ul li a{background: #DF7193; border-color: #b95e7a;}
.post-content.pull-right ul li a.blue:hover{background: #DF7193; border-color: #b95e7a;}
.home2 .single-member span{color: #DF7193;}
.counting.home2 h2{color: #DF7193;}
.contact-address.home2 .common-title{color: #DF7193;}
.blog-content.home2 .custom-button{background: #DF7193;}
.menu ul li.active > a{
    font-weight: 700;
}
.inner-nav ul li.active > a {
  color: #DF7193;
  font-weight: 700;
}

/************************ Loader *****************************/
.loaderWraper{background: #DF7193;}
.loading .finger-item i{background: #DF7193;}
.loading .last-finger-item i::after{background: #DF7193;}
.loading .finger-item span::before, .loading .finger-item span::after{background: #DF7193;}

#backToTop::before{background: #DF7193;}