/************************************* Color One HEX Code: #CD6DC7; ***************************************/

/********************** Home One **************************/
.logo-img a{background: #CD6DC7;}
nav .drop-menu li a:hover{color: #CD6DC7;}
.single-feature i{color: #CD6DC7;}
.single-feature a:hover{background: #CD6DC7; border-color: #b762b2;}
.gallery-hover ul li:first-child a{background: #CD6DC7;}
.gallery-hover ul li:last-child a:hover{color: #CD6DC7;}
.counting h2{color: #CD6DC7;}
.testinonialTriangle{background: #CD6DC7;}
.service-content i{background: #CD6DC7;}
.post-content ul li a, .post-content.pull-right ul li a:hover{background: #CD6DC7; border-color: #b762b2;}
.post-content h4 a:hover{color: #CD6DC7;}
.contact-address .common-title{color: #CD6DC7;}
.custom-button{background: #CD6DC7;}
p.copy a:hover{color: #CD6DC7;}
.footerlogo{background: #CD6DC7;}

/********************* 404 Page ********************************/
.inner-logo a{background: #CD6DC7;}
.inner-nav ul li a:hover, .inner-nav ul li.active > a{color: #CD6DC7;}
.bread-cumbs ul li a{color: #CD6DC7;}
.error-404 h1{color: #CD6DC7;}
.subscribeForm button{background: #CD6DC7;}

/********************* About us ******************************/
.inner-heading h3 a:hover{color: #CD6DC7;}
.features-list li::before{color: #CD6DC7;}
.about-us .panel-title a{background: #CD6DC7;}
.my-accordion .panel-title a.collapsed:hover{background: #CD6DC7;}
.project-counter.about-us .project-count-tringle{background: #CD6DC7;}
.about-us .project-count.two h2{color: #CD6DC7;}
.single-member h4 a:hover{color: #CD6DC7;}
.single-member span{color: #CD6DC7;}
.features-list.about-us li::before{color: #CD6DC7;}

/******************** Blog Grid ********************************/
.grid-ariticle h4 a:hover{color: #CD6DC7;}
.grid-ariticle ul li i{color: #CD6DC7;}
.grid-ariticle ul li a:hover{color: #CD6DC7;}
.month_like a:hover{color: #CD6DC7;}
.month_like a:hover{color: #CD6DC7;}
.month_like a:hover i{color: #CD6DC7;}
.custom-button.grid_btn:hover{background: #CD6DC7;}

/****************** Blog Post ***********************************/
.blog-post-content p.blog-author a{color: #CD6DC7;}
.blog-post-content ul.blog-category li i{color: #CD6DC7;}
.blog-post-content ul.blog-category li a:hover{color: #CD6DC7;}
.blog-post-content ul.blog-category li.post-cat a{color: #CD6DC7;}
blockquote{border-color: #CD6DC7;}
.author-bio span{color: #CD6DC7;}
.comment-meta a{color: #CD6DC7;}
.comment-form input[type="text"]:focus, .comment-form textarea:focus{border-color: #CD6DC7;}
a.tags:hover{background: #CD6DC7;}
.widget-form button{background: #CD6DC7;}
.widget-form input:focus{border-color: #CD6DC7;}
.widget ul li a::after{color: #CD6DC7;}
.widget ul li a:hover{color: #CD6DC7;}
.side-post a{color: #CD6DC7;}
.side-post a.side-post-title:hover{color: #CD6DC7;}
.calendarButton a{background: #CD6DC7;}

/********************** blog Sidebar *********************************/
.blog-post-content h2 a:hover{color: #CD6DC7;}
.blog-post-content ul.blog-category li.categorys a{color: #CD6DC7;}
.default-pagination li a:hover, .default-pagination li a.active{background: #CD6DC7;}
.default-pagination.blog-pagi li a:hover{background: #CD6DC7;}

/********************** Contact page *********************************/
.redTriangle{background: #CD6DC7;}
.inputP input:focus{border-color: #CD6DC7;}
.contactFormHolder textarea:focus{border-color: #CD6DC7;}
.sb_button{background: #CD6DC7;}

/********************** Events page *********************************/
.eventDet h4 a:hover{color: #CD6DC7;}
.evMeta p i{color: #CD6DC7;}

/*********************** Folio *****************************************/
.mixi-button li.active, .mixi-button li:hover{background: #CD6DC7;}
.mixi-button.flio2 li:hover{background: #CD6DC7;}
.default-pagination.folio2 li a:hover{background: #CD6DC7;}
.category a{color: #CD6DC7;}
.folio4-post-content a{color: #CD6DC7;}


/*********************** Home 3 *****************************************/
.custom-button.home3{background: #CD6DC7;}
.project-count-tringle{background: #CD6DC7;}
.project-count.two h2{color: #CD6DC7;}
.my-accordion .panel-title a{background: #CD6DC7;}
.features-list li::before{color: #CD6DC7;}
.features-list.home3 li::before{color: #CD6DC7;}
.mixi-button.green li.active, .mixi-button.green li:hover{background: #CD6DC7;}
.gallery-hover.home3 ul li:first-child a{background: #CD6DC7;}
.gallery-hover.home3 ul li:last-child a:hover{color: #CD6DC7;}
.default-pagination.green li a:hover, .default-pagination.green li a.active{background: #CD6DC7;}
.contact-address.home3 .common-title{color: #CD6DC7;}
.blog-content.home3 .custom-button{background: #CD6DC7;}

/*************************** member Page *********************************/
.member-meta li i{color: #CD6DC7;}
.skill-rect2{background: #CD6DC7;}
.chart4 h4{color: #CD6DC7;}
.eventMeta p i{color: #CD6DC7;}
.eventMeta p a{color: #CD6DC7;}

/*************************** New **************************************/
.slider-caption h2::before{background: #CD6DC7;}
.switch::before{background: #CD6DC7;}

#backToTop::before{border-bottom-color: #CD6DC7;}
.inner-nav ul li a:hover, .inner-nav ul li:hover > a{color: #CD6DC7;}
.inner-nav ul li ul.drop-menu li a:hover{color: #CD6DC7;}
nav .drop-menu li a:hover{color: #CD6DC7;}

.our-service.home2 i{background: #CD6DC7;}
.skill-rect{background: #CD6DC7;}
.post-content.home2 ul li a{background: #CD6DC7; border-color: #b762b2;}
.post-content.pull-right ul li a.blue:hover{background: #CD6DC7; border-color: #b762b2;}
.home2 .single-member span{color: #CD6DC7;}
.counting.home2 h2{color: #CD6DC7;}
.contact-address.home2 .common-title{color: #CD6DC7;}
.blog-content.home2 .custom-button{background: #CD6DC7;}
.menu ul li.active > a{
    font-weight: 700;
}
.inner-nav ul li.active > a {
  color: #CD6DC7;
  font-weight: 700;
}

/************************ Loader *****************************/
.loaderWraper{background: #CD6DC7;}
.loading .finger-item i{background: #CD6DC7;}
.loading .last-finger-item i::after{background: #CD6DC7;}
.loading .finger-item span::before, .loading .finger-item span::after{background: #CD6DC7;}

#backToTop::before{background: #CD6DC7;}